.container-main {
    width: 70%;
    margin: auto;
    margin-top: 7%;
}

.book-info{
    border: 1.5px solid #426B1F;
    border-radius: 30px;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 20px;
    margin: auto;
    margin-top: 60px;
}


.grn {
    color: #426B1F;
    font-weight: bold;
}

.btn-un-book {
    padding-top: 20px;
    width: 70%;
    text-align: left;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    height: 30px;
}

.btn-un-book > button {
    background-color: #426B1F;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.4s;
    color: white;
}

.btn-un-book > button:hover {
    background-color: #AB6B35;
}

.img-book {
    text-align: center;
    margin: auto;
}


.find-book {
    display: fled;
    width: 80%;
    margin: auto;
    text-align: center;
}

.find-book > button {
    width: 20%;
    margin-left: 5%;
    background-color: #426B1F;
    border: none;
    border-radius: 30px;
    color: white;
    height: 30px;
    cursor: pointer;
    transition: all 0.5s;
}

.find-book > button:hover {
    background-color: #AB6B35;
}

.find-book > input {
    border: 1.5px solid #426B1F;
    border-radius: 30px;
    padding: 10px;
    width: 60%;
}

.lineMessage {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 10%;
    color: red;
    font-weight: bold;
}

.bk-unique {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1.5px solid #426B1F;
    border-radius: 30px;
    margin-top: 4%;
}

.bk-unique > img {
    text-align: center;
    margin: auto;
}

.info {
    padding-bottom: 10px;
}

.info > button {
    background-color: #426B1F;
    border: none;
    border-radius: 30px;
    color: white;
    width: 30%;
    height: 30px;
    cursor: pointer;
    transition: all 0.5s;
}

.info > button:hover {
    background-color: #AB6B35;
}
