.img-review {
    border-radius: 50%;
    overflow: hidden;
    width: 15%;
    height: 40%;
}

.header-review {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.message_from_user {
    resize: vertical;
    width: 100%;
    border: 1px solid #426B1F;
    border-radius: 30px;
    padding: 20px;
}


.create_form_review{
    display: flex;
    width: 100%;
    justify-content: center;
}

.create_form_review > form {
    width: 100%;
    text-align: center;
}

