
footer {
    background-color: #426B1F;
    width: 100%;
    bottom: 0;
    margin-top: 20%;
    padding-bottom: 20px;
}

.top-block {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.top-block {
    color: white;
}

.left-block {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: left;
    margin-left: 2%;
}

.left-block > h2 {
    width: 100%;
}

.left-block > nav {
    margin-left: 0%;
    display: flex;
    flex-direction: column;
}


.left-block > nav > a{
    margin-top: 2%;
}

.right-block {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: right;
    text-align: right;
}

.right-block > h2 {
    margin-right: 20%;
}

.img-contact {
    margin-right: 20%;
}

.img-contact > img {
    margin-right: 1%;
}

.bottom-block {
    width: 100%;
    text-align: center;
}

.bottom-block > p {
    margin-top: 30px;
}

.bottom-block {
    color: white;
}